# One Way Anova

In [1]:
import pandas as pd  # dataframe
############## ANOVA ##############
import statsmodels.api as sm 
from statsmodels.formula.api import ols 
import statsmodels.stats.multicomp  # multiple comparision

In [2]:
# Loading data
df = pd.read_excel(r"C:\Users\Hp\Desktop\Python Code\Basics of Statistics by Irfan\cars.xlsx")
df

  Type_of_Car  Sales
0         i20     20
1       Swift     10
2      Baleno     30
3         i20     10
4       Swift      8
5      Baleno     20
6         i20     14
7       Swift     11
8      Baleno     35

### Level of Significance or error
* Alpha = 0.05 (5%)

#### Hypothesis

* H0 :  There is no significant difference between the all type of car with respect to sales							
*                        Vs							

* H1 :  There is significant difference between the all type of car with respect to sales

In [3]:
results = ols('Sales ~ C(Type_of_Car)', data=df).fit()  # FIT = APPLY

In [4]:
aov_table = sm.stats.anova_lm(results)

aov_table

                 df      sum_sq     mean_sq         F    PR(>F)
C(Type_of_Car)  2.0  560.222222  280.111111  9.771318  0.012962
Residual        6.0  172.000000   28.666667       NaN       NaN

# Conclusion
* We Reject Ho

*  There is significant difference between the all type of car with respect to sales

### Post-hoc Testing

* H0:- there is no different in type of car
    vs 
* H1:- there is different in type of car

In [ ]:
baleno = swift 
baleno = i20 
swift = i20

In [10]:
from statsmodels.stats.multicomp import MultiComparison
mc = MultiComparison(df['Sales'], df['Type_of_Car'])
mc_results = mc.tukeyhsd()
print(mc_results)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
Baleno  Swift -18.6667 0.0125  -32.08 -5.2533   True
Baleno    i20 -13.6667 0.0466  -27.08 -0.2533   True
 Swift    i20      5.0 0.5249 -8.4133 18.4133  False
----------------------------------------------------

* Baleno is different as compare to other car in terms of Sales