In [2]:
import pandas as pd  # dataframe

############## ANOVA ##############
import scipy.stats as stats 
import researchpy as rp 
import statsmodels.api as sm 
from statsmodels.formula.api import ols 
import statsmodels.stats.multicomp  # multiple comparision

In [4]:
import os 
os.chdir(r"F:\IMARTICUS\statastics")

In [5]:
# Loading data
df = pd.read_excel("Anova.xlsx")
df

     Cities  shops
0    Mumbai     16
1   Chennai     14
2     Delhi      4
3    Mumbai      8
4   Chennai     10
5     Delhi     10
6    Mumbai     12
7   Chennai     10
8     Delhi      8
9    Mumbai     14
10  Chennai     16
11    Delhi      8

# Level of Significance or error
Alpha = 0.05 (5%)

# Hypothesis
H0 : There is no significant difference between the all type of car with respect to sales

Vs

H1 : There is significant difference between the all type of car with respect to sales

### Method 1

In [13]:
stats.f_oneway(df['shops'][df['Cities'] == 'Mumbai'], 
             df['shops'][df['Cities'] == 'Chennei'],
             df['shops'][df['Cities'] == 'Delhi'])

C:\Users\HP\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:3869: DegenerateDataWarning: at least one input has length 0
  warnings.warn(stats.DegenerateDataWarning('at least one input '

F_onewayResult(statistic=nan, pvalue=nan)

### Method 2

In [14]:
results = ols('shops ~ C(Cities)', data=df).fit()

In [15]:
aov_table = sm.stats.anova_lm(results)

aov_table

            df     sum_sq    mean_sq         F    PR(>F)
C(Cities)  2.0  66.666667  33.333333  3.703704  0.067052
Residual   9.0  81.000000   9.000000       NaN       NaN

# Conclusion
We do not Reject Ho

There is no significant difference between the all type of car with respect to sales